h5 {
    font-style: bold;
    font-size: 45px;
}

.main {
    background-color: green;
    margin: 10px;
    position: absolute;
    left: 14%;
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
}

div {
    padding: 5px;
    color: white;
}

p{
   padding: 18px;
}